@media(max-width:1400px){
    .mid-content {
        max-width: 100%;
        margin: auto;
        width: 100%;
    }

    .header-logo {
        width: 25%;
        padding-left: 10px;
    }

    .header-menu {
        width: 49%;
    }

    .header-button {
        width: 10%;
    }

}


@media(max-width:1285px){
    .header-logo img {
       
        width: 70px;
      
    }
    .header-logo span {

        font-size: 19px;
      
        margin-top: 23px;
       
    }

    .header-menu {
        width: 50%;
    }

    .prumari-menu ul li a {
       
        padding: 0 10px;
      
        font-size: 20px;
    }

    .header-button {
        width: 16%;
        padding-right: 10px;
        box-sizing: border-box;
        text-align: left;
    }

    .video-content-right h3 {
        font-size: 40px;
       
    }

    .s-content p {
        font-size: 22px;
    
    }

}
@media(max-width:1095px){

    .s-content p {
        font-size: 18px;
    }

}
@media(max-width:1055px){
    .section-title h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .p-content ul li {
    
        font-size: 16px;
    }

}


/* defult style css */

.prumari-menu span{
    display: none;
}


@media(max-width:998px){

    .header-logo {
        width: 100%;
        text-align: center;
    }

    .header-logo img {
        max-width: 100%;
        width: 76px;
        float: none;
        margin-right: 20px;
    }

    .header-logo span {
        font-size: 22px;
        display: inline-block;
        margin-top: 7px;
        font-weight: 500;
        position: relative;
        bottom: 25px;
    }

    .prumari-menu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }


  .header-btn {
    display: inline-block;
    border: 2px solid #6278df;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    line-height: 20px;
    color: #6278df !important;
    border-radius: 10px;
    position: absolute;
    right: 65px;
    bottom: 4px;
}

    .prumari-menu span {
        font-size: 40px;
        cursor: pointer;
        color: #6278df;
        margin-left: 10px;
        display: block;
    }


    .header-section {
        
        position:relative;
       
    }

    .baner-content-text h2 {
        font-size: 48px;
      
    }

    .baner-section {
  
      
        padding: 130px 0;
       
    }

    .video-left {
        width: 100%;
        margin-bottom: 40px;
    }

    .video-content-right {
        width: 100%;
    }

    .section-title h1 {
        font-size: 40px;
       
    }

    .service-box {
        width: 28%;
        margin-left: 30px;
    }

    .s-content h3 {
        font-size: 20px;
      
    }
    .s-content p {
        font-size: 14px;
    }

    .service-box {
        width: 44%;
        margin-left: 30px;
    }

    .service-box:nth-child(3n+3){
        margin-right: 20px;
        }
        
    .service-box:nth-child(2n+2){
        margin-right: 0;
        }

        .section-title h2 {
            
            font-size: 40px;
        }

        .section-title p {
        
            font-size: 22px;
        }
/* 
        .t-item {
            width: 100%;
            margin-right: 2%;
            margin-bottom: 20px;
        } */

        .pricing-table-item {
            width: 100%;
            margin-right: 2%;
            background: #fff;
            box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.1);
            transition: .4s;
            margin-bottom: 20px;
        }

        .tem-section .section-title h2 {
            font-size: 35px;
        }

        .member {
            width: 48%;
            margin-bottom: 30px;
           
        }
        
        .b-headign {
            width: 50%;
        }

        .bt-content {
            width: 50%;
        }
}

@media(max-width:770px) {
    .p-content ul li {
     
        text-align: left;
    }
}

@media (max-width:768px){
    
    
    .header-section {
        
        position:relative;
       
    }

    * {
        /* margin: 0; */
        /* padding: 0; */
    }

    .baner-section {
  
      
        padding: 110px 0;
       
    }
  .baner-content-text h2 {
    font-size: 40px;

}
    .defult-btn {
        
        font-size: 12px;
       
    }

    .header-btn {
        right: 36px;
    }

    
    .service-box {
        width: 100%;
        
    }

    .service-box:nth-child(3n+3){
        margin-right: 20px;
        }
        
    .service-box:nth-child(2n+2){
        margin-right: 20px;
        }
    .service-box:nth-child(1n+1){
        margin-right: 20px;
        }

        .prumari-menu span {
           
            margin-left: -198px;
           
        }

        .s-icon {
         
            margin-right: -46px;
        }

        .tem-section .section-title h2 {
            font-size: 30px;
        }

        .member {
            width: 100%;
            
            margin-bottom: 30px;}


            .defult-input {
                width: 100%;
                margin-bottom: 30px;
            }

            .submit-btn {
                width: 100%;
            }
           
            .b-headign {
                width: 100%;
                text-align: center;
            }
            .left {
                float: none;
                text-align: center;
            }

            .bt-content {
                width: 100%;
                text-align: center;
            }

            .right {
                float: none;
                text-align: center;
            }

            .blog-post-item {
                width: 100%;
            }
            .blog-post-item img {
                float: none;
               
            }

            .left {
                float: none;
                text-align: center;
            }

            .t-item {
                width: 100%;
                margin-right: 2%;
            }

            .t-user-bio h4 {
              
                margin-bottom: 48px;
            }

            .t-user-bio {
                position: relative;
                top: -12px;
            }

            .content-left-map {
                width: 100%;
            }

            .left {
                float: none;
            }

            .content-right-form {
                width: 100%;
                margin-top: 40px;
            }

            .right {
                float: none;
            }

            .footer-contact-form .defult-input {
                margin-bottom: 20px;
                width: 100%;
            }

        

}

@media(max-width:665px){
    .section-title h1 {
        font-size: 30px;
    }

    .defult-btn {
        
        display: block;
      
        margin-bottom: 18px;
    }
}


@media(max-width:515px){
    .section-title h1 {
        font-size: 16px;
    }

    .section-title p {
        
        font-size: 20px;
    }
    .prumari-menu span {
        margin-left: -136px;
    }
}